@media(max-width:500px){
    body{
    background: var(--background-color) url(../images/bg-mobile.svg) no-repeat;
    background-size: cover;
}
    
        

    header .logo{
        max-width: 25vh;
        
}

    main .container{
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    main .container .illustration{
    align-items: center;
    max-width: 30vh;
}

    main .container .text .title{ 
    font-size: 1rem;
    
}

    main .container .text .description{
        font-size: 12px;
        padding-top: 1rem ;
    }

    

    main .container .text .btn{
        width: 12rem;
        font-size: 12px;
        
    }  

    
    


    .contact{
        display: flex;
        align-items: center;
        justify-content: space-around;
        
    }

    
}